.center {
    margin: auto;
    width: 60%;
    border: 3px solid #ea1a0ca4;
    background-color: #ccf6fe81;
    padding: 10px;
    text-align: center;
  }

  div.container {
    text-align: center;
  }
  
  ul.centeredUL {
    display: inline-block;
    text-align: left;
  }
