#animationContainer {
    width: 350px;
    height: 350px;
    position: relative;
    background: lightblue;
    border:2px solid lightskyblue;
    border-style: ridge;
  }
  
  #simpleAnimation {
    width: 35px;
    height: 35px;
    position: absolute;
    background: crimson;
  }

  #background {
    background: lightblue;
  }
